
.nav-ul li{
  display: inline-block;
  padding: 10px;

  
}

.nav-ul {
  padding: 5px;
  margin: 0;
  background-color: skyblue;
  
}
.nav-right{
  text-align: right;
}

.nav-ul li a {
  color: white;
  padding: 5px;
  text-decoration: none;
}

.footer{
position: absolute;
bottom: 0;
text-align: center;
width: 100%;
background-color:skyblue;

}

.fields{
  margin-left: 30%;
}

.inputField{
  display: flex;
  /* margin-left: 300px;
  margin-bottom: 20px;
  align-items: center;
  background-color: gray;
  padding: 10px;
  width: 300px;
  border: 2px solid skyblue; */
  margin-left: 410px;
  margin-bottom: 20px;
  padding: 7px;
  width: 300px;
  border: 1px solid skyblue;
  background-color: gray;
}

.buttonApp{
  margin-left: 410px;
  padding: 10px;
  background-color: skyblue;
  border: 1px solid black;
  cursor: pointer;
  border-radius: 10px;
  width: 100px;
  
}

.logo{
width: 90px;
height: 20px;
border-radius: 20px;
margin-top: 7px;
padding-left: 20px;
display: inline;
align-items: center;
}

.product{
  margin-left: 40%;
  margin-top: 70px;
}

.productfield{
  display: flex;
  margin-left: 50px;
  margin-bottom: 20px;
  padding: 7px;
  width: 300px;
  border: 1px solid skyblue;
  background-color: gray;
  margin-top: 15px;
}

.buttonApps{
  margin-left: 50px;
  padding: 10px;
  background-color: skyblue;
  border: 1px solid black;
  cursor: pointer;
  border-radius: 10px;
  width: 100px;

}

.field{
  color: red;
  margin-left: 50px;
  display: block;
  margin-top: -20px;

  
}

.product-list{
  text-align: center;
  margin-top: 50px;

}
.product-list ul {
  margin: 0px;
}

.product-list ul li{
  display: inline-block;
  border: 1px solid gray;
  padding: 8px;
  width: 150px;
}

.search{
  
  width: 180px;
  height: 20px;
  display: flex;
  align-items: start;
  margin-left: 200px;
  margin-bottom: 2px;
  border: 1px solid red;

}